.custom-navbar {
  background-color: #0b87ba;
  color: white;
  padding: 1rem 0;
}

/* Sección superior */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

/* Logo */
.navbar-top .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Carrito */
.navbar-top .nav-link {
  font-size: 1.5rem;
  color: #333;
  margin-left: auto;
}

.navbar-top .navbar-brand img {
  margin-right: 0.5rem;
}

/* Sección inferior */
.navbar-bottom {
  text-align: center;
}

.navbar-bottom .nav {
  justify-content: center;
}

.navbar-bottom .nav-link {
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.navbar-bottom .nav-link:hover {
  color: #f3ae5f;
}

@media (max-width: 768px) {
  .navbar-top {
    flex-direction: column;
    align-items: center;
  }

  .navbar-bottom .nav {
    flex-direction: column;
  }
}
.custom-navbar .container-fluid {
  display: flex;
  flex-direction: column;
}

.cartwidget span{
  color: white;

}