.custom-navbar {
  background-color: #0b87ba; 
  color: white; 
}

.custom-navbar .nav-link {
  color: white; 
  text-transform: uppercase; 
  font-family: "Lato", sans-serif;
}

.custom-navbar .nav-link:hover {
  color: #ddd; 
}


.custom-navbar .navbar-brand {
  display: flex; 
  align-items: center; 
  text-transform: uppercase; 
  font-family: "Lato", sans-serif; 
  font-weight: 700; 
  color: white; 
}

.custom-navbar .navbar-brand img {
  margin-right: 10px; 
}


.navbar-brand {
  margin-left: -15px; 
}
